<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.engine.crosswalk"
      version="0.0.1-dev">

    <name>Crosswalk Engine</name>
    <description>Intel CrossWalk Engine</description>
    <license>Apache 2.0</license>
    <keywords>cordova,chromium,crosswalk,webview</keywords>
    <repo>https://github.com/infil00p/cordova-crosswalk-engine.git</repo>
    <issue></issue>

    <engines>
      <engine name="cordova-android" version=">=4.0.0-dev" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="org.apache.cordova.engine.mozilla.MozillaView" />
        </config-file>

        <source-file src="src/android/MozillaView.java" target-dir="src/org/apache/cordova/engine/mozilla/" />
        <source-file src="src/android/CordovaGeckoViewChrome.java" target-dir="src/org/apache/cordova/engine/mozilla/" />
        <source-file src="src/android/CordovaGeckoViewContent.java" target-dir="src/org/apache/cordova/engine/mozilla/" />

        <resource-file src="lib/assets/armeabi-v7a/libfreebl3.so" target="assets/libfreebl3.so" />
       <resource-file src="lib/assets/armeabi-v7a/libmozalloc.so" target="assets/libmozalloc.so" />
       <resource-file src="lib/assets/armeabi-v7a/libnss3.so" target="assets/libnss3.so" />
       <resource-file src="lib/assets/armeabi-v7a/libnssckbi.so" target="assets/libnssckbi.so" />
       <resource-file src="lib/assets/armeabi-v7a/libomxplugin.so" target="assets/libomxplugin.so" />
       <resource-file src="lib/assets/armeabi-v7a/libomxplugingb.so" target="assets/libomxplugingb.so" />
       <resource-file src="lib/assets/armeabi-v7a/libomxplugingb235.so" target="assets/libomxplugingb235.so" />
       <resource-file src="lib/assets/armeabi-v7a/libomxpluginhc.so" target="assets/libomxpluginhc.so" />
       <resource-file src="lib/assets/armeabi-v7a/libomxpluginkk.so" target="assets/libomxpluginkk.so" />
       <resource-file src="lib/assets/armeabi-v7a/libsoftokn3.so" target="assets/libsoftokn3.so" />
       <resource-file src="lib/assets/armeabi-v7a/libxul.so" target="assets/libxul.so" />
       <resource-file src="lib/assets/omni.ja" target="assets/omni.ja" />

        <framework src="libs/geckoview_library" custom="true" />
    </platform>
</plugin>
