<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.engine.mozillaview"
      version="0.0.1-dev">

    <name>MozillaView Engine</name>
    <description>Mozilla GeckoView Engine</description>
    <license>Apache 2.0</license>
    <keywords>cordova,firefox,gecko,webview</keywords>
    <repo>https://github.com/infil00p/cordova-mozillaview-engine.git</repo>
    <issue></issue>

    <engines>
      <engine name="cordova-android" version=">=4.0.0-dev" />
    </engines>

    <js-module src="www/MozExec.js" name="MozExec">
      <uses />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="org.apache.cordova.engine.mozilla.CordovaGeckoViewEngine" />
        </config-file>

        <source-file src="src/android/CordovaGeckoView.java" target-dir="src/org/apache/cordova/engine/mozilla/" />
        <soruce-file src="src/android/CordovaGeckoViewEngine.java" target-dir="src/org/apache/cordova/engine/mozilla/" />
        <source-file src="src/android/CordovaGeckoViewChrome.java" target-dir="src/org/apache/cordova/engine/mozilla/" />
        <source-file src="src/android/CordovaGeckoViewContent.java" target-dir="src/org/apache/cordova/engine/mozilla/" />

        <!-- This JS file is totally separate from the JS modules used in Cordova -->
        <resource-file src="www/android/mozilla.js" target="assets/www/bridge/mozilla.js" />

        <!-- This is the gradle reference.  Apparently this just works now -->
        <framework src="libs/geckoview/geckoview.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
